@import '../assets/style.css';
@import './icon-overwrites.scss';
@import './element-variables.scss';
@import './bootstrap-overwrites.scss';

html, body {
  height: 100%;
  overflow: hidden;
  background: rgba(247, 248, 250, 0.5);
}
#app{
  height: 100%;
}
.content{
  max-width: 1350px;
  min-width: 900px;
  margin: 0 auto;
}
.mr-10{

}
@each $key, $name in (l, left), (r, right), (m, bottom), (t, top){
  .m#{$key}-10{
    margin-#{$name}: 10px;
  }
}
a{
  color: rgba(51, 51, 51, 0.7);
  transition: 0.2s all linear;
  &:hover{
    color: #51A0F1!important;
  }
}

.col-red{
  color: #E60815;
}
.col-green{
  color: #2EAC28;
}




