@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t5303a');
  src:  url('fonts/icomoon.eot?t5303a#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t5303a') format('truetype'),
    url('fonts/icomoon.woff?t5303a') format('woff'),
    url('fonts/icomoon.svg?t5303a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.byb-icon-true:before {
  content: "\e901";
  color: #cdcdcd;
}
.byb-icon-off:before {
  content: "\e904";
  color: #cdcdcd;
}
.byb-icon-application:before {
  content: "\e900";
}
.byb-icon-language:before {
  content: "\e902";
  color: #fff;
}
.byb-icon-login:before {
  content: "\e903";
  color: #fff;
}
.byb-icon-submit-success:before {
  content: "\e907";
  color: #51a0f1;
}
.byb-icon-telegram:before {
  content: "\e908";
  color: #fff;
}
.byb-icon-twitter:before {
  content: "\e909";
  color: #fff;
}
.byb-icon-wechat:before {
  content: "\e90a";
  color: #fff;
}
